units:
  # Proxy Spacing Variables
  kx: cx
  ky: cy
  # Padding Variables
  px: kx + 2
  py: ky + 2
  # Double Padding Variables
  dpx: kx + 8
  dpy: ky + 8
  # M2 Screw Inserts
  screwRadius: 1.50
  standoffRadius: 3
  # Footprints
  rp2040zero_x: 18
  rp2040zero_y: 23.5
  fpc_x: 5
  fpc_y: 11
points:
  zones:
    matrix:
      mirror: &mirror
        ref: matrix_index_top
        distance: 38
      anchor:
        shift: [30, -80]
      key:
        padding: 1ky
        spread: 1kx
      columns:
        pinky:
          key:
            splay: -30
            column_net: GP10
            mirror.column_net: GP10
        ring:
          key:
            stagger: 0.33ky
            splay: -3
            spread: 1kx + 2
            column_net: GP11
            mirror.column_net: GP11
        middle:
          key:
            stagger: 0.33ky
            splay: -2
            spread: 1kx + 1
            column_net: GP12
            mirror.column_net: GP12
        index:
          key:
            stagger: -0.45ky
            splay: -2
            spread: 1kx + 0.2
            column_net: GP13
            mirror.column_net: GP13
      rows:
        bottom:
          row_net: GP27
          mirror.row_net: GP6
        middle:
          row_net: GP28
          mirror.row_net: GP1
        top:
          row_net: GP29
          mirror.row_net: GP0
    thumbs:
      mirror: *mirror
      key:
        padding: 1ky
        spread: 1kx
      anchor:
        ref: matrix_index_bottom
        shift: [1.05kx, -.3ky]
      columns:
        inner:
          key:
            splay: -5
            column_net: GP13
            mirror.column_net: GP10
        outer:
          key:
            column_net: GP12
            mirror.column_net: GP11
      rows:
        top:
          row_net: GP7
          mirror.row_net: GP7
    mcu:
      anchor:
        aggregate.parts: [matrix_index_top, mirror_matrix_index_top]
        shift: [0, -17]
      key:
        width: rp2040zero_x
        height: rp2040zero_y
    cirque:
      anchor:
        aggregate.parts: [matrix_index_top, mirror_matrix_index_top]
        shift: [0, -26.3]
      key:
        width: rp2040zero_x
        height: rp2040zero_y
    fpc:
      anchor:
        ref: mcu
        shift: [.89kx, -.5ky]
      key:
        width: fpc_x
        height: fpc_y
    holeRingTop:
      mirror: *mirror
      anchor:
        ref: [matrix_ring_top]
        shift: [0.33px, 0.56py]
    holeRingBottom:
      mirror: *mirror
      anchor:
        ref: [matrix_ring_bottom]
        shift: [-0.35kx, -0.75ky]
    holeOuterThumbs:
      mirror: *mirror
      anchor:
        ref: [matrix_index_bottom]
        shift: [0.2kx, -0.6ky]
outlines:
  keys:
    - what: rectangle
      where: /matrix|thumb/
      size: [kx-0.5, ky-0.5]
  boardLeft:
    - what: polygon
      operation: stack
      fillet: 1
      points:
        - ref: matrix_pinky_top
          shift: [-0.5px, 0.5py]
        - ref: matrix_ring_top
          shift: [-0.5px, 0.5py]
        - ref: matrix_middle_top
          shift: [-0.5px, 0.5py]
        - ref: matrix_middle_top
          shift: [0.5px, 0.5py]
        - ref: matrix_index_top
          shift: [0.5px, 0.5py]
        - ref: mcu
          shift: [-rp2040zero_x/2, rp2040zero_y/2]
        - ref: mcu
          shift: [rp2040zero_x/2, rp2040zero_y/2]
        - ref: mirror_matrix_index_top
          shift: [0.5px, 0.5py]
        - ref: mirror_matrix_middle_top
          shift: [0.5px, 0.5py]
        - ref: mirror_matrix_middle_top
          shift: [-0.5px, 0.5py]
        - ref: mirror_matrix_ring_top
          shift: [-0.5px, 0.5py]
        - ref: mirror_matrix_pinky_top
          shift: [-0.5px, 0.5py]
        - ref: mirror_matrix_pinky_bottom
          shift: [-0.5px, -0.5py]
        - ref: mirror_thumbs_inner_top
          shift: [-0.5px, -0.5py]
        - ref: mirror_thumbs_outer_top
          shift: [0.5px, -0.5py]
        - ref: mirror_thumbs_outer_top
          shift: [0.5px, 0.5py]
        - ref: mirror_thumbs_outer_top
          shift: [0.5px, 0.5py]
        - ref: thumbs_outer_top
          shift: [0.5px, 0.5py]
        - ref: thumbs_outer_top
          shift: [0.5px, 0.5py]
        - ref: thumbs_outer_top
          shift: [0.5px, -0.5py]
        - ref: thumbs_inner_top
          shift: [-0.5px, -0.5py]
        - ref: matrix_pinky_bottom
          shift: [-0.5px, -0.5py]
  board:
    - boardLeft
  _mcu:
    - what: rectangle
      where: /^mcu/
      size: [rp2040zero_x, rp2040zero_y]
  _fpc:
    - what: rectangle
      where: /fpc/
      size: [fpc_x, fpc_y]
  _cirque:
    - what: circle
      where: /cirque/
      radius: 20
  _cirque_outer:
    - what: circle
      where: /cirque/
      radius: 21
  _mountingLeft:
    - what: circle
      where: /^hole/
      radius: screwRadius
  _mountingRight:
    - what: circle
      where: /^mirror_hole/
      radius: screwRadius
  _standoffLeft:
    - what: circle
      where: /^hole/
      radius: standoffRadius
  _standoffRight:
    - what: circle
      where: /^mirror_hole/
      radius: standoffRadius
  combo:
    - ^boardLeft
    - ^keys
    - ^_mcu
    - ^_fpc
    - ^_cirque
    - ^_cirque_outer
    - ^_standoffLeft
    - ^_standoffRight
    - ^_mountingLeft
    - ^_mountingRight
pcbs:
  koumori:
    outlines:
      main:
        outline: board
    footprints:
      chocHotswapLeft:
        what: choc
        where: /^(thumb|matrix)/
        params:
          keycaps: true
          hotswap: true
          from: "{{column_net}}"
          to: "{{colrow}}"
      diodeLeft:
        what: diode
        where: /^(thumb|matrix)/
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
        adjust:
          shift: [0, -5]
      chocHotswapRight:
        what: choc
        where: /^mirror_(thumb|matrix)/
        params:
          keycaps: true
          hotswap: true
          from: "{{mirror.column_net}}"
          to: "{{colrow}}"
      diodeRight:
        what: diode
        where: /^mirror_(thumb|matrix)/
        params:
          from: "{{colrow}}"
          to: "{{mirror.row_net}}"
        adjust:
          shift: [0, -5]
      mcu:
        what: rp2040zero
        where: mcu
        adjust:
          shift: [-rp2040zero_x / 2 - 1.2, -rp2040zero_y / 2 - 1]
        params:
          reverse: true
          P5V: P5V
          GND: GND
          P3V3: P3V3
          GP29: GP29
          GP28: GP28
          GP27: GP27
          GP26: GP26
          GP15: GP15
          GP14: GP14
          GP13: GP13
          GP12: GP12
          GP11: GP11
          GP10: GP10
          GP9: GP9
          GP8: GP8
          GP7: GP7
          GP6: GP6
          GP5: GP5
          GP4: GP4
          GP3: GP3
          GP2: GP2
          GP1: GP1
          GP0: GP0
      holes:
        what: mountinghole
        where: /hole/
